@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex{
    display: flex;
}
.primary-width{
    max-width: 1160px;
    margin: 0 auto;
}
/* header section styles */

/* navbar styles */
.navbar{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}
.logo-site-name{
    align-items: center;
}
.site-name{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0.7rem;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
}
.menu-item-1 a{
    color: rgba(254, 163, 1, 1);
}
.menu-item-2 a{
    color: rgba(1, 172, 253, 1);
}
.menu-item-3 a{
    color: rgba(5, 212, 223, 1);
}
.menu-item-4 a{
    color: rgba(93, 88, 239, 1);
}
.nav-menu a{
    text-decoration: none;
}
.nav-button{
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    background-color: rgba(254, 163, 1, 1);
    padding: 0.63rem 3.75rem;
    color: white;
    border-radius: 12px;
}

.icon-container{
    display: none;
}

/* banner section styles */
.banner{
    align-items: center;
    gap: 3rem;
}
.banner-content-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#empowering{
    color: orange;
}
#vision{
    color: rgba(1, 172, 253, 1)
}
.banner-content-description{
    font-size: 1.25rem;
    color: black;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.banner-content-button button{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.625rem 3rem;
    border-radius: 12px;
    border: none;
    background-color: black;
    color: white;
}

/* mobile device style */

@media screen and (max-width: 576px){
    /* navbar style */
    .navbar{
        padding: 0.5rem 1rem;
        border: 0.5px solid rgba(254, 163, 1, 1);
    }
    .site-name{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .button-container{
        display: none;
    }
    .icon-container{
        display: block;
    }
    .after-nav-hr{
        display: block;
        color: rgba(254, 163, 1, 1);
    }
    /* banner style */
    .banner{
        flex-direction: column;
        gap: 1.25rem;
        padding: 0.5rem 1rem;
    }
    .banner-content{
        text-align: center;
        order: 1;

    }
    .banner-image img{
        width: 100%;
    }


}